<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>

<body>
   <form class="align-self-baseline" method="post">
   <p>Enter your id</p>
    <input type="text" name="username" placeholder="Enter username"></input>
        <button name="bt" value="btn1" type="submit" class="btn btn-dark mb-4 button text-light"><span>Convert</span></button>
    <p>{{valueid}}</p>
    <p>Enter your numerical id</p>
        <input type="text" name="numid" placeholder="Enter numerical id"></input>
        <button name="bt" value="btn2" type="submit" class="btn btn-dark mb-4 button text-light"><span>Convert</span></button>
    </form>
    <p>{{valueun}}</p>
</body>