<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>

<body>
   <p>Enter your id</p>
    <form class="align-self-baseline" method="post">
    <input type="text" name="username" placeholder="Enter username"></input>
        <button type="submit" class="btn btn-dark mb-4 button text-light"><span>Convert</span></button>
    </form>
    <p>{{value}}</p>
    <p>Enter your numerical id</p>
</body>